$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;

$black: #000 !default;
$white: #fff !default;

$btn-disabled-opacity: 0.5 !default;

$background-blue: #3071a9;
$fill-lower: #367ebd;

$shadow-black: #0d0d0d;
$thumb-height: 36px;
$thumb-width: 16px;
$thumb-radius: 3px;

$range-width: 100%;
$rangeheight: 8.4px;

