@mixin themify($color, $darkenpct) {
  background-color: darken($color, $darkenpct);
  border: darken($color, 20%) 1px solid;
  &:hover{
    background-color: lighten(saturate($color, 20%), 10%);
  }
  &:disabled {
    pointer-events: none;
  }
}

@mixin theme($primary-color, $rotate: 120deg, $darkenpct: 20%) {
  $other-color: adjust-hue($primary-color, $rotate);
  $other-color2: adjust-hue($primary-color, -$rotate);
  $secondary-color: adjust-hue($primary-color, 180deg);

  .btn{

    &.btn-primary{
      @include themify($primary-color, $darkenpct);
      background-color: $primary-color;
    }

    &.btn-secondary{
      @include themify($secondary-color, $darkenpct);
    }

    &.btn-other{
      @include themify($other-color, $darkenpct);
    }
    &.btn-other2{
      @include themify($other-color2, $darkenpct);
    }
  }
}