$classes: 'm-t-', 'm-b-';

@each $class in $classes {
  @for $i from 1 through 5 {
    .#{$class}#{$i*5} {
      @if $class == 'm-t-' {
        margin-top: $i * 5;
      }
      @if $class == 'm-b-' {
        margin-bottom: $i * 5;
      }
    }
  }
}

// @for $i from 1 through 5 {
//   .m-t-#{$i * 5} {
//     margin-top: $i*5
//   }
// }
